<<<<<<< HEAD
html, body{
  margin: 0;
  box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
    margin: 0;
    /*padding: 20px;*/
}


.borrar, .btnNuevo {
  padding: 10px 20px;
  background-color: #e80101;
=======

.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
}


.btnBuscar, .btnNuevo, .btnGuardar {
  padding: 10px 20px;
  background-color: #4CAF50;
>>>>>>> master
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

<<<<<<< HEAD
.confirmar, .btnNuevo {
padding: 10px 20px;
background-color: #3ac703;
border: none;
color: white;
cursor: pointer;
border-radius: 5px;
margin-right: 10px;
}
=======

>>>>>>> master
.Buscar, .Buscar2, .Buscar3, .Buscar4 {
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

<<<<<<< HEAD


table {
  border: 1px solid #ddd;
  padding: 10px 30px 10px 30px;
=======
table {
>>>>>>> master
  width: 100%;
  border-collapse: collapse;
}

<<<<<<< HEAD
th, td {
  text-align: left;
  padding: 10px 30px 10px 30px;
  margin: 10px;

=======
table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
>>>>>>> master
}

th {
  background-color: #f2f2f2;
  color: black;
<<<<<<< HEAD
  padding: 10px 30px 10px 30px;
  margin: 10px;

=======
>>>>>>> master
}


.dropdown {
<<<<<<< HEAD
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.318);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .show {
    display: block;
  }

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .show {
    display: block;
  }
  .h1 {
    text-align: center;
  }


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centrar verticalmente en la pantalla */
}

#image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease;
    cursor: pointer;
}

#image.expanded {
    width: 300px; /* Ajusta el tamaño según tus necesidades */
    height: 300px; /* Ajusta el tamaño según tus necesidades */
}
=======
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}
.h1 {
  text-align: center;
}

>>>>>>> master
