/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
}


.navbar-nav .nav-item .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-left: 10px;
}

.confirmar {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.borrar {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.table img {
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease;
    cursor: pointer;
}

.table img.expanded {
    transform: scale(10);
    border-radius: 0;
    z-index: 1000;
    position: absolute;
}

.cerrar_sesion {
    background-color: #e82e04;
    border-color: #e91b08;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

.cerrar_sesion:hover {
    background-color: #aa0000;
    border-color: #dd0303;
    text-decoration: none;
    color: white;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estilos responsivos para la tabla */
@media (max-width: 768px) {
    .table {
        border: 0;
    }

    .table thead {
        display: none;
    }

    .table tbody tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .table tbody tr td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        flex-direction: column;
        
    }

    .table tbody tr td:last-child {
        border-bottom: 0;
    }

    .table tbody tr td::before {
        content: attr(data-label);
        flex: 1;
        font-weight: bold;
    }

    .table tbody tr td span {
        flex: 2;
        text-align: right;
    }
}

/* Estilos para el footer */
.pie {
    background: #140b5c;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.pie .redes a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.pie .redes a:hover {
    color: #ccc;
}

.pie .section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.pie .section div {
    flex: 1;
    min-width: 200px;
}

.pie .section h2 {
    font-size: 20px;
}

.pie .section a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.pie .section a:hover {
    color: #fff;
}

.pie .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pie .derechos {
    margin-top: 20px;
    border-top: 1px solid #2d226d;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pie .derechos p {
    margin: 0;
}

.pie .derechos a {
    color: #ccc;
    text-decoration: none;
}

.pie .derechos a:hover {
    color: #fff;
}

/* Estilos responsivos para el footer */
@media (max-width: 768px) {
    .pie .section {
        flex-direction: column;
        text-align: center;
    }

    .pie .derechos {
        flex-direction: column;
        align-items: center;
    }

    .pie .derechos p, .pie .derechos a {
        margin-bottom: 10px;
    }
}


@media (max-width: 768px) {
    .btn-success {
        display: none;
    }
    .navbar-brand {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
}


.colect{
    width: 270px;
    height: 270px;
    
}