body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

ul {
    padding-left: 20px;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

ul li span {
    font-weight: bold;
    color: #007bff;
}
