.pie{
    background: #140b5c;
    color: #fff;
    padding: 20px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px
}

span{
    font-size: 23px;
}

.fb{
    padding: 12px;
    border-radius: 50px;
    color: white;
}

.tw{
    padding: 12px;
    border-radius: 50px;
    color: white;
}

.in{
    padding: 12px;
    border-radius: 50px;
    color: white;
}

.yt{
    padding: 12px;
    border-radius: 50px;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.logotipo{
    font-size: 18px;
    color: white;
}

.section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    color: white;

}

.section div{
    display: flex;
    flex-direction: column;
    color: white;

}

div h2{
    color: white;
    padding: 10px 0;
}

a{
    color: rgb(255, 255, 255);
    padding: 5px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    background: none;
    border: solid 2px white;
    padding: 10px 20px;
}

button{
    padding: 10px 20px;
    background: white;
    color: blueviolet;
    font-size: 18px;
}

.derechos{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #0a0433;
    color: white;
}


/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 767px) {
    .pie {
        text-align: center;
    }

    .section {
        display: block;
        text-align: center;
    }
}